<div class="sidebar">
  <a routerLink='/consultasNombre' routerLinkActive="active">Consultar por nombre
  </a>
  <a routerLink='/consultasDocumento' routerLinkActive="active">Consultar por documento
  </a>
  <a routerLink='/consultasColegio' routerLinkActive="active">Consultar por colegio
  </a>
  <a routerLink='/consultasGrupo' routerLinkActive="active">Consultar por grupo
  </a>
  <a routerLink= '/asignacionGrupos' routerLinkActive="active">Asignación de grupos</a>
  <a routerLink= '/consultas' routerLinkActive="active">Crear Grupo</a>
  <a routerLink= '/descarga' routerLinkActive="active">Descargas</a>
</div>

<div class="container">
  <button mat-raised-button color="primary" (click)="descargaParticipantes()">Descargar datos participantes</button>
  
</div>