<div class="sidebar">
    <a routerLink='/consultas' routerLinkActive="active">Consultar participantes</a>
    <a routerLink= '/asignacionGrupos' routerLinkActive="active">Asignación de grupos</a>
    <a routerLink= '/crearGrupo' routerLinkActive="active">Crear Grupo</a>
    <a routerLink= '/descarga' routerLinkActive="active">Descargas</a>
  
  </div>

<div class="container">
  <button mat-raised-button color="primary" (click)="descargaParticipantes()">Descargar datos participantes</button>
  
</div>