<script src="node_modules/chart.js/src/chart.js"></script>

<div class="sidebar">
    <a routerLink='/estadisticasCreate' routerLinkActive="active">Crear estadisticas
    </a>
    <a routerLink='/estadisticasList' routerLinkActive="active">Consulatar estadisticas
    </a>
</div>


<h1 style="text-align:center">ESTADISTICAS</h1>

<p > Las estadisticas son un conjunto de datos representados en graficas, para crear estas graficas se proporcionan 2 metodos los cuales son graficas de barras y graficas de pastel, 
    donde la grafica de barras permite analizar un atributo del participante utilizando dos parametros, y las graficas de pastel ayudan a analizar un atributo de los participantes
    por medio de un parametro y utilizando porcentajes y cantidades.
</p>

<br>

<p>
    A continuacion eliga la grafica que desea crear:
</p>

<br>

<form (submit)="crearGraficaDeBarras(postForm)" #postForm="ngForm">
<mat-card>
<mat-checkbox> Grafica de barras  </mat-checkbox>
<mat-checkbox style="margin:20px"> Grafica de pastel  </mat-checkbox>

<br>
<br>

<mat-select placeholder="Atributo de participante que se desea analizar" name="atributoSeleccionado" #atributoSeleccionado="ngModel" ngModel>
    <mat-option *ngFor="let at of atributosD" [value]="at">
    {{at}}
    </mat-option>
</mat-select>

<br>
<br>

<!-- ESTA PARTE SE ENCARGARA DE PONER EN EL CARD LAS OPCIONES NECESARIAS PARA CADA ATRIBUTO, YA QUE SE PUEDEN LLEGAR A MEDIR DE DIFERENTE FORMA -->

<!--ESTE CONTAINTER ESTA PARA EVALUAR A FUTURO PUESTO QUE POR EL MOMENTO SOLO CONOZCO UN VALOR PARA PONER EN EL EYE Y QUE SON CANTIDAD DE ESTUDIANTES-->
<!--SELECCION DE COLEGIO ACTUAL-->
<ng-container *ngIf="selColegioActual(postForm)">

    <span>La grafica contiene siempre todos los colegios registrados, esta es dinamica y permite que al hacer click sobre un colegio en la grafica uno pueda quitarlo del filtro
        si se desean tener resultados mas limpios.
    </span>
    <br>
    <span> Porfavor eliga el primer parametro, este sera el que se pondra en la parte vertical del grafico (eje y): </span>
 
    <br>
    <br>   
<mat-form-field style="width: 80%; margin:10,10,10,10">
    <mat-select placeholder="Parametro(eje y)" name="parametro1EjeY" #parametro1EjeY="ngModel" ngModel required>
            <mat-option *ngFor="let at of parametrosColegioActual" [value]="at">
            {{at}}
            </mat-option>
    </mat-select>
</mat-form-field> 
    <br>
    <br> 

    <span> Se pueden elegir varios parametros para la barra horizontal con el boton de añadir, estos se mostraran en el eje x. De no elegir ningun parametro se escogera el default
        el cual es tomar los estudiantes que estan activos y los que no estan activos.
    </span>
 
    <br>
    <br>    

    <mat-checkbox name="checkBoxNombre" #checkBoxNombre="ngModel" ngModel> Nombre igual a:
        <mat-form-field>
          <input matInput name="inputColegioNombre" #inputColegioNombre="ngModel" ngModel> 
        </mat-form-field>
    </mat-checkbox>
    <mat-checkbox  name="checkBoxApell" #checkBoxApell="ngModel" ngModel  style="margin-left:10%" *ngIf="selApellido(postForm)"> Apellido igual a:
        <mat-form-field>
          <input matInput name="inputColegioApell" #inputColegioApell="ngModel" ngModel> 
        </mat-form-field>
    </mat-checkbox>
    <br>
    <mat-checkbox name="checkBoxEstrato" #checkBoxEstrato="ngModel" ngModel> Estrato igual a:
        <mat-form-field>
          <input matInput placeholder="Solo valores numericos" name="inputColegioEstrato" #inputColegioEstrato="ngModel" ngModel> 
        </mat-form-field>
    </mat-checkbox>
    <mat-checkbox name="checkBoxBarrio" #checkBoxBarrio="ngModel" ngModel style="margin-left: 11%"> Barrio igual a :
        <mat-form-field>
                <mat-select class="col-sm-6"  placeholder="Eleccion Barrio" name="eleccionBarrioColegioA" #eleccionBarrioColegioA="ngModel" ngModel>
                        <mat-option *ngFor="let at of barriosColegioActual" [value]="at">
                        {{at}}
                        </mat-option>
                </mat-select> 
        </mat-form-field>
    </mat-checkbox>
    <br>
    <!-- <mat-checkbox name="checkBoxEdadMayQ" #checkBoxEdadMayQ="ngModel" ngModel *ngIf="selEdadParam(postForm)"> Edad mayor que:
        <mat-form-field>
          <input matInput placeholder="Solo valores numericos" name="inputColegioEdadMayorQ" #inputColegioEdadMayorQ="ngModel" ngModel> 
        </mat-form-field>
    </mat-checkbox>
    <mat-checkbox name="checkBoxEdadMenQ" #checkBoxEdadMenQ="ngModel" ngModel style="margin-left: 10%" *ngIf="selEdadParam(postForm)"> Edad menor que:
        <mat-form-field>
          <input matInput placeholder="Solo valores numericos" name="inputColegioEdadMenorQ" #inputColegioEdadMenorQ="ngModel" ngModel>  
        </mat-form-field>
    </mat-checkbox> -->

    
    <br>
    <br> 

    <button type="submit"  mat-button style="margin:auto">Generar grafica</button>


</ng-container>

</mat-card>
</form>

<br>
<br>