<mat-tab-group>
  <mat-tab label="Registro de nuevos participantes">

  <h1 style="text-align:center">Registro nuevos participantes</h1>
<form (submit)="onAddPost(postForm)"  #postForm= "ngForm"> 
  <mat-card>
  <mat-form-field>
    <input matInput type="text" class="form-control" id="Nombre" name="nombre" placeholder="Nombre" #nombre = "ngModel" ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" #apellidos = "ngModel" ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" class="form-control" id="edadParticipante" name="edadParticipante" placeholder="Edad participante" #edadparticipante = "ngModel" ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" class="form-control" id="tipoDoc" name="tipodocumento" placeholder="Tipo Documento" #tipodocumeto = "ngModel" ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" class="form-control" id="NumeroDoc" name="documento" placeholder="Número Documento" #documeto = "ngModel" ngModel>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Genero" name="generoparticipante" #generoParticipante="ngModel" ngModel>
      <mat-option *ngFor="let genero of generosparaselector" [value]="genero">
        {{genero}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <input matInput type="date" class="form-control" id="fechanac" name="fechanac" placeholder="Fecha nacimiento" #fechanac = "ngModel" ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" class="form-control" id="telefonopar" name="telefonopar" placeholder="Telefono" #telefonopar = "ngModel" ngModel>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" class="form-control" id="celularpar" name="celularpar" placeholder="Celular" #celularpar = "ngModel" ngModel>
      </mat-form-field>
    <mat-form-field>
    <input matInput type="text" class="form-control" id="direccionpar" name="direccionpar" placeholder="Direccion" #direccionpar = "ngModel" ngModel>
  </mat-form-field>
  <mat-form-field>
      <input matInput type="text" class="form-control" id="barrioPar" name="barriopar" placeholder="Barrio participante" #barriopar = "ngModel" ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="comunaPar" name="comunapar" placeholder="Comuna" #comunaPar = "ngModel" ngModel>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="text" class="form-control" id="munPar" name="munpar" placeholder="Municipio" #munpar = "ngModel" ngModel>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" class="form-control" id="estratopar" name="estratopar" placeholder="Estrato" #estratopar = "ngModel" ngModel>
          </mat-form-field>
          <mat-form-field>
              <input matInput type="email" class="form-control" id="emailPar" name="emailpar" placeholder="Correo electronico" #emailpar = "ngModel" ngModel>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" class="form-control" id="epsPar" name="epspar" placeholder="Eps" #epspar = "ngModel" ngModel>
              </mat-form-field>
    <p>Foto</p>
    <input type="file" (change)="onFileSelected($event)">
    <button mat-button color="primary" class="btn btn.primary" (click)="onUpload()">Cargar</button>
    <h3>INFORMACION DEL COLEGIO</h3>
    <mat-form-field>
      <mat-select  name="nombreColegio" #nombreColegio="ngModel" ngModel placeholder="Nombre Colegio">
          <mat-option *ngFor="let tipo of todosLosColegios" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="gradoColegio" name="gradoColegio" #gradoColegio="ngModel" ngModel placeholder="Grado actual">
    </mat-form-field>
    <mat-form-field>
        <mat-select name="tipocolegio" #tipocolegio="ngModel" placeholder="Tipo de colegio" ngModel>
          <mat-option *ngFor="let tipo of tiposColegio" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select name="calendariocolegio" #calenadriocolegio="ngModel" placeholder="Calendario de colegio" ngModel>
            <mat-option *ngFor="let tipo of calendariosColegios" [value]="tipo">
              {{tipo}}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <h3>Informacion acudientes</h3>
    <h4>Padre</h4>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="nombrepadre" name="nombrepadre" #nombrepadre="ngModel" ngModel placeholder="Nombre del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="apellpadre" name="apellpadre" #apellpadre="ngModel" ngModel placeholder="Apellido del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="tipodocpadre" name="tipodocpadre" #tipodocpadre="ngModel" ngModel placeholder="Tipo de documento del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="docpadre" name="docpadre" #docpadre="ngModel" ngModel placeholder="Documento del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="celularpadre" name="celularpadre" #celularpadre="ngModel" ngModel placeholder="Celular del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="emailpadre" name="emailpadre" #emailpadre="ngModel" ngModel placeholder="Email del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="niveldeformacionpadre" name="niveldeformacionpadre" #niveldeformacionpadre="ngModel" ngModel placeholder="Nivel de formacion del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="areaconpadre" name="areaconpadre" #areaconpadre="ngModel" ngModel placeholder="Area de conocimiento del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="ocupacionpadre" name="ocupacionpadre" #ocupacionpadre="ngModel" ngModel placeholder="Ocupacion del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="lugardetrabajopadre" name="lugardetrabajopadre" #lugardetrabajopadre="ngModel" ngModel placeholder="Lugar de trabajo del padre ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="teltrabajopadre" name="teltrabajopadre" #teltrabajopadre="ngModel" ngModel placeholder="Telefono del trabajo del padre ">
    </mat-form-field>
    <h4>Madre</h4>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="nombreMadre" name="nombreMadre" #nombreMadre="ngModel" ngModel placeholder="Nombre de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="apellMadre" name="apellMadre" #apellMadre="ngModel" ngModel placeholder="Apellido de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="tipodocMadre" name="tipodocMadre" #tipodocMadre="ngModel" ngModel placeholder="Tipo de documento de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="docMadre" name="docMadre" #docMadre="ngModel" ngModel placeholder="Documento de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="celularMadre" name="celularMadre" #celularMadre="ngModel" ngModel placeholder="Celular de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="emailMadre" name="emailMadre" #emailMadre="ngModel" ngModel placeholder="Email de la  Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="niveldeformacionMadre" name="niveldeformacionMadre" #niveldeformacionMadre="ngModel" ngModel placeholder="Nivel de formacion de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="areaconMadre" name="areaconMadre" #areaconMadre="ngModel" ngModel placeholder="Area de conocimiento de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="ocupacionMadre" name="ocupacionMadre" #ocupacionMadre="ngModel" ngModel placeholder="Ocupacion de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="lugardetrabajoMadre" name="lugardetrabajoMadre" #lugardetrabajoMadre="ngModel" ngModel placeholder="Lugar de trabajo de la Madre">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="teltrabajoMadre" name="teltrabajoMadre" #teltrabajoMadre="ngModel" ngModel placeholder="Telefono del trabajo de la Madre">
    </mat-form-field>
    <h4>Otro</h4>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="nombreotro" name="nombreotro" #nombreotro="ngModel" ngModel placeholder="Nombre de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="apellotro" name="apellotro" #apellotro="ngModel" ngModel placeholder="Apellido de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="tipodocotro" name="tipodocotro" #tipodocotro="ngModel" ngModel placeholder="Tipo de documento de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="docotro" name="docotro" #docotro="ngModel" ngModel placeholder="Documento de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="celularotro" name="celularotro" #celularotro="ngModel" ngModel placeholder="Celular de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="emailotro" name="emailotro" #emailotro="ngModel" ngModel placeholder="Email de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="niveldeformacionotro" name="niveldeformacionotro" #niveldeformacionotro="ngModel" ngModel placeholder="Nivel de formacion de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="areaconotro" name="areaconotro" #areaconotro="ngModel" ngModel placeholder="Area de conocimiento de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="ocupacionotro" name="ocupacionotro" #ocupacionotro="ngModel" ngModel placeholder="Ocupacion de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="lugardetrabajootro" name="lugardetrabajootro" #lugardetrabajootro="ngModel" ngModel placeholder="Lugar de trabajo de otro ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="teltrabajootro" name="teltrabajootro" #teltrabajootro="ngModel" ngModel placeholder="Telefono del trabajo de otro ">
    </mat-form-field>
    <br>
    <br>
      <button mat-raised-button color="primary"	 type="submit" >Enviar</button>
    </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Registro administradores" *ngIf="isAdmin()"> 
    <app-registro-admin></app-registro-admin>
  </mat-tab>
  <mat-tab label="Registro monitores" *ngIf="isAdmin()"> 
      <app-registro-monitor></app-registro-monitor>
  </mat-tab>
</mat-tab-group>