<div class="sidebar">
    <a routerLink='/modificar-Agregar' routerLinkActive="active">Agregar
    </a>
    <a routerLink='/modificar-Eliminar' routerLinkActive="active">Eliminar
    </a>
    <a routerLink='../preguntas' routerLinkActive="active">Terminar
    </a>
  </div>
    <div class="content">
            <h1 style="text-align:center">Preguntas Frecuentes</h1>
            <p>Si deseas añadir una pregunta, has click en añadir, copia  la pregunta y con su respectiva respuesta.</p>
            <p>Si deseas eliminar una pregunta, has click en eliminar y copia la pregunta a eliminar.</p>
            <p>Si deseas completar los cambios y da click en terminar.</p>
  </div>
