<html>
  <body>
    <div class="sidebar">
      <a routerLink='/consultasNombre' routerLinkActive="active">Consultar por nombre
      </a>
      <a routerLink='/consultasDocumento' routerLinkActive="active">Consultar por documento
      </a>
      <a routerLink='/consultasColegio' routerLinkActive="active">Consultar por colegio
      </a>
      <a routerLink='/consultasGrupo' routerLinkActive="active">Consultar por grupo
      </a>
      <a routerLink= '/asignacionGrupos' routerLinkActive="active">Asignación de grupos</a>
      <a routerLink= '/consultas' routerLinkActive="active">Crear Grupo</a>
      <a routerLink= '/descarga' routerLinkActive="active">Descargas</a>

    </div>
    <h1 >Asignacion de Grupo </h1>
    <div class="content">

      <form (submit)="setGrupo(setForm)"  #setForm= "ngForm">
        <mat-form-field>
          <input matInput type="text" placeholder="ID de grupo" id="idGrupo" name="idGrupo" ngModel>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Asignar</button>
      </form>
      <div name="consultasDocumento"> 
      <form (submit)="getParticipante(postForm)"  #postForm= "ngForm">
          <mat-form-field>
            <input matInput type="text" placeholder="Numero de Documento" id="numeroDocumento" name="numeroDocumento" ngModel>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Consultar</button>
        </form>
      <div class="col s7">
        <table class="striped highlight black-text">
          <thead>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Grupo</th>
            <th>Colegio</th>
          </thead>
          <tbody>
            <tr *ngFor="let participante of consultasService.participantes">
              <td>{{ participante.nombre }}</td>
              <td>{{ participante.documento }}</td>
              <td>{{ participante.grupo }}</td>
              <td>{{ participante.colegio.nombre }}</td>
              <td>
                <a (click)="editEmployee(employee)">
                  <i class="material-icons">edit</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>  
      </div>
    </div>

  </body> 
</html>